body{
/*	text-align: center; */
font-family: Corbel;
}
h1{
	color:blue;
}
h2{
	color: red;
}
.error{
	color: red;
	font-weight: bold;
}
li{
	display: inline-block;
	padding-left: 30px;
}
td{
	vertical-align: middle;
}
i{
	font-size: 12px;
	float: right;
}
.basic,.basic table{
	margin-left: 5%;
	width: 90%;
	margin-bottom: 5%;
}